@font-face {
    font-family: CutOutOf;
    src: url('../fonts/CutOutOFFont.otf');
    font-style: normal;
}

@font-face {
    font-family: Gropled;
    src: url('../fonts/Gropled-Bold.otf');
    font-style: normal;
}