body {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    /* background-color: black; */
}

h1, h2, h3, h4, h5, h6, span, p {
    margin: 0;
    padding: 0;
}

.section-1 {
    display: block;
    position: fixed;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
}


.section-1__background {
    display: block;
    position: fixed;
    width: 100vw;
    height: auto;
}

.section-1__content {
    display: block;
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.content {
    display: block;
    position: relative;
    width: 75vw;
    height: 75vh;
    margin: 0% auto;
    text-align: center;
    overflow: hidden;
    background-color: black;
    box-shadow: 0 0 5px 10px #0000004a
        /* border-left: 5px solid white; */
        /* border-right: 5px solid white; */
}

.content__video {
    display: block;
    position: absolute;
    width: 75vw;
    height: auto;

}

.content__h2 {
    display: block;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
    z-index: 12;
    padding-top: 15%;
}

.content h2 {
    font-family: Gropled;
    font-style: normal;
    letter-spacing: 10px;
    font-size: 88px;
    color: white;
}